cmi-detect-behavior-with-sensor-data.zip 
cmi-detect-behavior-with-sensor-data.zip 
cmi-detect-behavior-with-sensor-data.zip 
train.xlsx 
test.xlsx 
train_demographics.xlsx 
test_demographics.xlsx 
test_demographics.csv 
